/* Sidebar */

.side-header {
    background-color: var(--primary);
    width: 20%;
    min-height: 100vh;
  }
  
  .top-side {
    display: flex;
    flex-direction: column;
  }
  
  .widgets {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    position: relative;
  }
  
  .widgets i {
    font-size: 1.8rem;
    color: #ffffff;
  }
  
  .widgets__notification {
    position: relative;
    flex: 0;
  }
  
  .widgets__icon {
    position: relative;
    cursor: pointer;
    display: block;
    z-index: 1;
  }
  
  .widgets__qty {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #f13232;
    top: -0.6rem;
    right: -0.6rem;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.6;
  }
  
  .notifications {
    position: absolute;
    background-color: #fff;
    width: 0%;
    border-radius: 1rem;
    top: -3rem;
    left: 0rem;
    padding: 2rem 1rem;
    opacity: 0;
    box-shadow: 0rem 0.2rem 0.5rem rgba(0,0,0,.3);
    transition: opacity: 0.3s 0.6s ease-in-out;
  }
  
  .notifications::before {
    content: "";
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 1.4rem;
    height: 1.2rem;
    background-color: #FFFFFF;
    position: absolute;
    top: -1.2rem;
    left: 1rem;
  }
  
  .notifications.open {
    top: 6rem;
    left: 0.6rem;
    opacity: 1;
    width: 120%;
    transition: top 0.4s cubic-bezier(0.02, 1.85, 0.85, 0.65),
      opacity 0.2s ease-in, width 0.2s ease-out;
  }
  
  .notifications__wrapper {
    list-style: none;
  }
  
  .notifications__wrapper li {
    padding: 1.2rem 1rem;
    background-color: transparent;
    margin-bottom: 0.8rem;
    border-bottom: 0.1rem solid var(--primary-light);
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
  }
  
  .notifications__wrapper li:hover {
    background-color: var(--base);
  }
  
  .notifications__wrapper li:last-child {
    margin-bottom: 0;
  }
  
  .widgets i:first-child {
    flex: 1;
    justify-content: flex-start;
  }
  
  .user {
    display: block;
    width: 100%;
    margin: 1.5rem auto 2rem;
    text-align: center;
  }
  
  .user__image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }
  
  .user__name {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  /* Nav Menu - Side Header */
  
  .nav {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 85%
    );
    border-radius: 1.8rem;
    margin-top: 2rem;
  }
  
  .nav__menu {
    padding: 3rem 2.5rem 0;
    list-style: none;
  }
  
  .nav__menu li {
    padding: 1rem 0;
  }
  
  .nav__menu li:first-child {
    padding-top: 0;
  }
  
  .nav__menu li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.4s ease-in;
  }
  
  .nav__menu i {
    margin-right: 1.2rem;
    font-size: 1.8rem;
    transform: translateY(0.2rem);
  }
  
  .nav__menu li.active a,
  .nav__menu li a:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  /* Content */
  
  .content {
    background-color: var(--base);
    width: 80%;
    overflow: hidden;
    padding: 4rem;
  }
  
  .wrapper {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    max-height: 100vh;
    margin-left: -3rem;
  }
  
  .card {
    width: 30%;
    margin: 0 0 3rem 3rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    flex: 1 0 auto;
  }
  
  /* .card:nth-child() {
    margin-right: 0;
  } */
  
  /* .card__item {
    margin: 0 0 2rem 2rem;
    font-size: 1.4rem;
    display: flex;
  } */
  
  /* .wrapper {
    display: grid;
    grid-gap: 3rem;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    column-count: 3;
    column-gap: 3rem;
  } */
  
  /* .card {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    margin-bottom: 3rem;
    break-inside: avoid;
  } */
  
  .card__content {
    padding: 0rem 2rem;
  }
  
  .card__item {
    margin: 0 0 2rem 2rem;
    font-size: 1.4rem;
    display: flex;
  }
  
  /* .photo {
    grid-row-end: span 2;
  }
  
  .text {
    grid-row-end: span 1;
  } */
  
  .card__item .icon {
    margin-right: 3rem;
    font-size: 2rem;
    color: var(--primary);
    transform: translateY(0.7rem);
  }
  
  .card__item:nth-child(2) .icon {
    margin-right: 3.3rem;
  }
  
  .card__item:nth-child(3) .icon {
    margin-right: 3.5rem;
  }
  
  .card__item .budget {
    padding-left: 3rem;
    border-left: 0.1rem solid #f1f1f1;
  }
  
  .card__item .title {
    font-size: 1rem;
    display: block;
    color: #b8b5b5;
    margin-bottom: 0.3rem;
  }
  
  .card__item .value {
    color: var(--primary);
    font-size: 1.8rem;
    font-weight: bolder;
  }
  
  .card__item:first-child {
    margin-top: 2rem;
  }
  
  .card__image {
    margin-bottom: 0rem;
    height: 15rem;
  }
  
  .card__image img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
  }
  
  .card__savings {
    padding: 0 3rem 2rem 3rem;
    display: block;
    text-align: center;
  }
  
  .card__savings p {
    font-size: 1.4rem;
    color: var(--primary);
    line-height: 3;
  }
  
  .card__savings .card__savings--text {
    display: block;
  }
  
  .card__savings .card__savings--value,
  .card__savings .card__savings--time,
  .card__savings--desc {
    background-color: var(--third);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.7rem 1.2rem;
    border-radius: 1.2rem;
  }